<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nansk.smartcity">
    <!-- 文件读取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 连接网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".design.party.PartySharingSendActivity"/>
        <activity android:name=".design.party.PartySharingActivity" />
        <activity android:name=".design.party.PartyAdvicePublishActivity" />
        <activity android:name=".design.party.PartyAdviceActivity" />
        <activity android:name=".design.party.PartyStudyDetailsActivity" />
        <activity android:name=".design.party.PartyActDetailsActivity" />
        <activity android:name=".design.party.PartyActActivity" />
        <activity android:name=".design.party.PartyStudyActivity" />
        <activity android:name=".design.party.PartyPressDetailsActivity" />
        <activity android:name=".design.party.PartyPressActivity" />
        <activity android:name=".design.party.PartyActivity" />
        <activity android:name=".design.support.SupportCasePublishedActivity" />
        <activity android:name=".design.support.SupportVisitActivity" />
        <activity android:name=".design.support.SupportHelpActivity" />
        <activity android:name=".design.support.SupportVillagePlanActivity" />
        <activity android:name=".design.support.SupportVillageDetailsActivity" />
        <activity android:name=".design.support.SupportVillageActivity" />
        <activity android:name=".design.support.SupportWorkbenchActivity" />
        <activity android:name=".design.support.SupportCaseDetailsActivity" />
        <activity android:name=".design.support.SupportCaseActivity" />
        <activity android:name=".design.support.SupportPressDetailsActivity" />
        <activity android:name=".design.support.SupportPressActivity" />
        <activity android:name=".design.support.SupportActivity" />
        <activity android:name=".design.pension.PensionRecordActivity" />
        <activity android:name=".design.pension.PensionFocusActivity" />
        <activity android:name=".design.pension.PensionHealthDataActivity" />
        <activity android:name=".design.pension.PensionQueryOrgActivity" />
        <activity android:name=".design.pension.PensionOrgDetailsActivity" />
        <activity android:name=".design.pension.PensionAssessResultsActivity" />
        <activity android:name=".design.pension.PensionAssessActivity" />
        <activity android:name=".design.pension.PensionActivity" />
        <activity android:name=".design.community.CommunityCourierActivity" />
        <activity android:name=".design.community.CommunityFeedbackActivity" />
        <activity android:name=".design.community.CommunityPropertyActivity" />
        <activity android:name=".design.community.CommunityCarEditActivity" />
        <activity android:name=".design.community.CommunityCarManageActivity" />
        <activity android:name=".design.community.CommunitySocialDetailsActivity" />
        <activity android:name=".design.community.CommunitySocialShareActivity" />
        <activity android:name=".design.community.CommunityNoticeDetailsActivity" />
        <activity android:name=".design.community.CommunitySocialActivity" />
        <activity android:name=".design.community.CommunityActivity" />
        <activity android:name=".design.protection.ProtectionNearDetailsActivity" />
        <activity android:name=".design.protection.ProtectRecyclingListActivity" />
        <activity android:name=".design.protection.ProtectionAddAddressActivity" />
        <activity android:name=".design.protection.ProtectRecyclingActivity" />
        <activity android:name=".design.protection.ProtectionClassDetailsActivity" />
        <activity android:name=".design.protection.ProtectionClassroomActivity" />
        <activity android:name=".design.protection.ProtectionMainActivity" />
        <activity android:name=".activity.movie.MoviePressDetailsActivity" />
        <activity android:name=".activity.movie.MoviePressActivity" />
        <activity android:name=".activity.movie.MoviePaymentOrderActivity" />
        <activity android:name=".activity.movie.MovieChangeSeatActivity" />
        <activity android:name=".activity.movie.MovieChangeTheatreActivity" />
        <activity android:name=".activity.movie.MovieFilmDetailsActivity" />
        <activity android:name=".activity.movie.MovieMainActivity" />
        <activity android:name=".activity.BalanceRecordActivity" />
        <activity android:name=".activity.UserInfoEditActivity" />
        <activity android:name=".activity.BalanceTopUpActivity" />
        <activity android:name=".activity.metro.MetroAboutActivity" />
        <activity android:name=".activity.metro.MetroNoticeActivity" />
        <activity android:name=".activity.metro.MetroStepDetailsActivity" />
        <activity android:name=".activity.metro.MetroStepInfoActivity" />
        <activity android:name=".activity.traffic.TrafficServiceActivity" />
        <activity android:name=".activity.traffic.TrafficCancelProgressActivity" />
        <activity android:name=".activity.traffic.TrafficIllegalCancel2Activity" />
        <activity android:name=".activity.traffic.TrafficIllegalCancel1Activity" />
        <activity android:name=".activity.traffic.TrafficNoticeDetailsActivity" />
        <activity android:name=".activity.metro.MetroGetCardActivity" />
        <activity android:name=".activity.metro.MetroGetTermsActivity" />
        <activity android:name=".activity.metro.MetroPressDetailsActivity" />
        <activity android:name=".activity.metro.MetroActivity" />
        <activity android:name=".activity.traffic.TrafficNoticeListActivity" />
        <activity android:name=".activity.traffic.TrafficPayFineActivity" />
        <activity android:name=".activity.traffic.BoundDriverLicenseActivity" />
        <activity android:name=".activity.traffic.TrafficIllegalProcessing2Activity" />
        <activity android:name=".activity.traffic.TrafficIllegalProcessing1Activity" />
        <activity android:name=".activity.traffic.TrafficIllegalDetailsActivity" />
        <activity android:name=".activity.traffic.TrafficAddCardActivity" />
        <activity android:name=".activity.traffic.TrafficActivity" />
        <activity android:name=".activity.job.PositionDetailsActivity" />
        <activity android:name=".activity.job.JobActivity" />
        <activity android:name=".activity.press.PressSearchActivity" />
        <activity android:name=".activity.WeatherActivity" />
        <activity android:name=".activity.lifepay.LivingPressDetailsActivity" />
        <activity android:name=".activity.lifepay.LivingPressActivity" />
        <activity android:name=".activity.lifepay.LifepayPhonePaymentActivity" />
        <activity android:name=".activity.lifepay.LifepayPhoneActivity" />
        <activity android:name=".activity.lifepay.LifepayHistoryActivity" />
        <activity android:name=".activity.lifepay.LifepayPaymentActivity" />
        <activity android:name=".activity.lifepay.LifepayQueryActivity" />
        <activity android:name=".activity.lifepay.LifeAccountManageActivity" />
        <activity android:name=".activity.lifepay.LifePayActivity" />
        <activity android:name=".activity.activity.ActivityDetailsActivity" />
        <activity android:name=".activity.activity.HuodongActivity" />
        <activity android:name=".activity.bus.BusChangeDateActivity" />
        <activity android:name=".activity.house.HouseDetailsActivity" />
        <activity android:name=".activity.house.HouseActivity" />
        <activity android:name=".NetworkSettingsActivity" />
        <activity android:name=".activity.takeout.TakeoutCollectActivity" />
        <activity android:name=".activity.takeout.TakeoutOrderDetailsActivity" />
        <activity android:name=".activity.takeout.TakeoutPlayActivity" />
        <activity android:name=".activity.takeout.TakeoutNewAddressActivity" />
        <activity android:name=".activity.takeout.TakeoutAddressManagerActivity" />
        <activity android:name=".activity.takeout.TakeoutOrderConfirmActivity" />
        <activity android:name=".activity.takeout.TakeoutSellerDetailsActivity" />
        <activity android:name=".activity.takeout.TakeoutSellerListActivity" />
        <activity android:name=".activity.takeout.TakeoutMainActivity" />
        <activity android:name=".activity.parking.ParkLotRecordActivity" />
        <activity android:name=".activity.parking.ParkLotDetailsActivity" />
        <activity android:name=".activity.parking.ParkingActivity" />
        <activity android:name=".activity.hospital.HospitalHistoryActivity" />
        <activity android:name=".activity.hospital.HospitalConfirmActivity" />
        <activity android:name=".activity.hospital.HospitalRegActivity" />
        <activity android:name=".activity.hospital.HospitalAddPatientActivity" />
        <activity android:name=".activity.hospital.HospitalCardActivity" />
        <activity android:name=".activity.hospital.HospitalDetailsActivity" />
        <activity android:name=".activity.hospital.HospitalActivity" />
        <activity android:name=".activity.bus.BusConfirmOrderActivity" />
        <activity android:name=".activity.bus.BusDetailsActivity" />
        <activity android:name=".activity.bus.BusCustomActivity" />
        <activity android:name=".activity.bus.BusActivity" />
        <activity android:name=".activity.AllOrdersActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.press.PressDetailsActivity" />
        <activity android:name=".GuidePagerActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>